body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: stretch;
    justify-content: center;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.info {
    border-radius: 1ex;
    border: medium solid darkgrey;
    padding: 2ex;
    margin-bottom: 2ex;
}

.info-author {
    font-size: 2.5vmin;
}

.info-description {
    font-size: 3vmin;
}

.sudoku {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

.sudoku-table {
    display: flex;
    flex-direction: column;
    user-select: none;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell-biggest-border-top {
    border-top: thick solid black;
    border-bottom: thin solid black;
}

.cell-big-border-top {
    border-top: medium solid black;
    border-bottom: thin solid black;
}

.cell-big-border-bottom {
    border-top: thin solid black;
    border-bottom: medium solid black;
}

.cell-biggest-border-bottom {
    border-top: thin solid black;
    border-bottom: thick solid black;
}

.cell-border-vertical {
    border-top: thin solid black;
    border-bottom: thin solid black;
}

.cell-biggest-border-left {
    border-left: thick solid black;
    border-right: thin solid black;
}

.cell-big-border-left {
    border-left: medium solid black;
    border-right: thin solid black;
}

.cell-biggest-border-right {
    border-left: thin solid black;
    border-right: thick solid black;
}

.cell-big-border-right {
    border-left: thin solid black;
    border-right: medium solid black;
}

.cell-border-horizontal {
    border-left: thin solid black;
    border-right: thin solid black;
}

.cell {
    margin: 0;
    padding: 0;
    min-width: 6vmin;
    min-height: 6vmin;
    font-size: 4vmin;
    color: #4444ff;
}

.fixed-digit {
    color: black;
}

.bg-cell {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.color-cell {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.inner-cell {
    text-align: center;
    padding: 2px;
    width: 100%;
    height: 100%;
}

.cell-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    font-size: calc(2vmin);
    color: cornflowerblue;
}

.cell-corner-1 {
    position: absolute;
    left: 10%;
    top: 5%;
    font-size: calc(2vmin);
    color: cornflowerblue;
}

.cell-corner-2 {
    position: absolute;
    right: 17%;
    top: 5%;
    font-size: calc(2vmin);
    color: cornflowerblue;
}

.cell-corner-3 {
    position: absolute;
    right: 17%;
    bottom: 12%;
    font-size: calc(2vmin);
    color: cornflowerblue;
}

.cell-corner-4 {
    position: absolute;
    left: 10%;
    bottom: 12%;
    font-size: calc(2vmin);
    color: cornflowerblue;
}

.active {
    background-color: rgba(255, 215, 0, 0.5);
}

.selected {
    background-color: rgba(255, 215, 0, 0.5);
}

.thermo-bulb {
    margin: 0;
    padding: 0;
    position: absolute;
    border-radius: 100%;
    z-index: -10;
}

.thermo-dot {
    margin: 0;
    padding: 0;
    position: absolute;
    border-radius: 100%;
    z-index: -10;
}

.thermo-line {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -10;
}

.controls {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

.mode-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.auxiliary-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.control-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
    margin: .5ex .5em;
    padding: .5ex .5em;
    border-radius: 1ex;
    font-size: 2vmin;
    font-weight: bold;
    border: 3px solid black;
    color: black;
}

.number-button {
    margin: .25ex .25em;
    padding: .5ex .5em;
    border-radius: .5ex;
    font-size: 3vmin;
    font-weight: bold;
    border: 3px solid black;
    color: black;
}

.selected-button {
    color: white;
    background-color: black;
}

.cage-top {
    border-top: dashed thin red;
}

.cage-bottom {
    border-bottom: dashed thin red;
}

.cage-left {
    border-left: dashed thin red;
}

.cage-right {
    border-right: dashed thin red;
}
